.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-overlay;
  z-index: 1200;
  border-radius: 50%;
  transform: scale(0);

  transition: transform 500ms ease-in-out, border-radius 500ms ease-in-out;
}

.overlay.active {
  transform: scale(1);
  border-radius: 0;
}

.modal {
  position: relative;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 24px);
  border-radius: 5px;
  overflow: auto;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal__svg {
  width: 20px;
  height: 20px;
}

.container-form {
  width: 300px;

  @media (min-width: 768px) {
    width: 400px;
  }
  @media (min-width: 1200px) {
    width: 480px;
  }
}
